.react-flow__node {
    padding: 10px;
    border-radius: 3px;
    width: auto !important;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    cursor: auto !important;
}

.noscroll {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 100%
}

.react-flow {
    font-family: jetbrains-mono;
    /*text-transform: uppercase;*/
}
.react-flow .react-flow__node {
    /*font-size: 14px;*/
    background: #fff;
}
.react-flow__controls-button {
    height: 16px;
    width: 16px;
}
.react-flow__node-zoom {
    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.2;
    padding: 10px;
    text-align: center;
    width: 150px;
}
.react-flow__node-zoom img {
    pointer-events: none;
}
.placeholder div {
    background: #eee;
    height: 10px;
    margin-bottom: 4px;
    width: 100%}
.placeholder div:last-child {
    margin-bottom: 0;
}
.react-flow__node-selectorNode {
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}
.dndflow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.dndflow aside {
    background: #fcfcfc;
    border-right: 1px solid #eee;
    font-size: 12px;
    padding: 15px 10px;
}
.dndflow .dndnode, .dndflow aside .description {
    margin-bottom: 10px;
}
.dndflow .dndnode {
    align-items: center;
    border: 1px solid #1a192b;
    border-radius: 2px;
    cursor: grab;
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 4px;
}
.dndflow .dndnode.input {
    border-color: #0041d0;
}
.dndflow .dndnode.output {
    border-color: #ff0072;
}
.reactflow-wrapper {
    flex-grow: 1;
    height: 100%
}

.dndflow .selectall {
    margin-top: 10px;
}
@media screen and (min-width:768px) {
    .dndflow {
        flex-direction: row;
    }
    .dndflow aside {
        max-width: 250px;
        width: 20%}
}.edgebutton {
     background: #eee;
     border: 1px solid #fff;
     border-radius: 50%;
     cursor: pointer;
     font-size: 12px;
     height: 20px;
     line-height: 1;
     width: 20px;
 }
.edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .08);
    transform: scale(1.1);
}
.edgebutton-foreignobject body {
    align-items: center;
    background: transparent;
    display: flex;
    height: 40px;
    justify-content: center;
    min-height: 40px;
    width: 40px;
}
.layoutflow {
    flex-grow: 1;
    position: relative;
}
.layoutflow .controls {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}
.layoutflow .controls button:first-child {
    margin-right: 10px;
}
.providerflow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.providerflow aside {
    background: #fff;
    border-left: 1px solid #eee;
    font-size: 12px;
    padding: 15px 10px;
}
.providerflow aside .description {
    margin-bottom: 10px;
}
.providerflow aside .title {
    font-weight: 700;
    margin-bottom: 5px;
}
.providerflow aside .transform {
    margin-bottom: 20px;
}
.reactflow-wrapper {
    flex-grow: 1;
}
.providerflow .selectall {
    margin-top: 10px;
}
@media screen and (min-width:768px) {
    .providerflow {
        flex-direction: row;
    }
    .providerflow aside {
        max-width: 250px;
        width: 20%}
}.save__controls {
     font-size: 12px;
     position: absolute;
     right: 10px;
     top: 10px;
     z-index: 4;
 }
.save__controls button {
    margin-left: 5px;
}
.transition {
    flex-grow: 1;
    position: relative;
}
.transition .controls {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}
.transition .controls button+button {
    margin-left: 10px;
}
.updatenode__controls {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
}
.updatenode__controls label {
    display: block;
}
.updatenode__bglabel {
    margin-top: 10px;
}
.updatenode__checkboxwrapper {
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.validationflow .react-flow__node {
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #555;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 150px;
}
.validationflow .react-flow__node-customnode {
    background: #e6e6e9;
    border: 1px solid #ddd;
}
.react-flow__node-custominput .react-flow__handle {
    background: #e6e6e9;
}
.validationflow .react-flow__node-custominput {
    background: #fff;
}
.validationflow .react-flow__handle-connecting {
    background: #ff6060;
}
.validationflow .react-flow__handle-valid {
    background: #5d9;
}
.zoompanflow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.zoompanflow aside {
    background: #fff;
    border-left: 1px solid #eee;
    font-size: 12px;
    padding: 15px 10px;
}
.zoompanflow aside .description {
    margin-bottom: 10px;
}
.zoompanflow aside button {
    display: block;
    margin-bottom: 5px;
}
.reactflow-wrapper {
    flex-grow: 1;
}
@media screen and (min-width:768px) {
    .zoompanflow {
        flex-direction: row;
    }
    .zoompanflow aside {
        max-width: 250px;
        width: 20%}
}

.messenger {
    min-height: 300px;
    min-width: 200px;
    padding: 10px;
    color: #222222;
    width: 200px;
}

.action {
    min-height: 100px;
    min-width: 100px;
    color: black;
    width: 100px;
    font-size: 14px;
}

.actionHeader {
    text-align: left;
    background: #f7f77a;
    padding: 4px 6px;
    font-weight: 600;
}

.actionBody {
    margin-top: 25px;
}

.header {
text-align: start;
font-size: 16px;
margin-bottom: 10px;
}

.addText {
position: absolute;
padding: 20px;
background: #dddddd;
border: 1px solid;
cursor: pointer;
left: 50%;
margin: 0;
top: 50%;
transform: translate(-50%,-50%);
width: 60%;
}

.text {
font-size: 12px;
border: 1px solid #8c8383;
border-radius: 4px;
padding: 10px;
background: #e9f4f7;
margin-bottom: 10px;
min-height: 20px;
}
.textInput {
font-size: 12px;
border: 1px solid #8c8383;
border-radius: 4px;
padding: 10px;
background: #e9f4f7;
margin-bottom: 10px;
width: 230px;
}

.imageDiv {
margin-bottom: 10px;
}

.image {
width: 200px;
height: auto;
}

.menuContainer {
position: absolute;
bottom: 20vh;
}

.menu {
display: flex;
text-align: center;
font-size: 16px;
justify-content: space-between;
}

.menuBox {
border: 1px solid gray;
width: 100px;
padding: 10px;
margin-right: 8px;
cursor: pointer;
}

.innerMenu {
margin-bottom: 100px;
}

.selected {
border: 1px solid green !important;
box-shadow: 0 0 0 0.5px green !important;
}

.react-flow {
border: 1px solid #222222;
}

.react-flow__node-default {
padding: 0 !important;
}